@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

/* CSS RESET */  
body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
    font-family: 'Space Grotesk', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
  
ol, ul {
    list-style: none;
}


img {
    max-width: 100%;
    height: auto;
}

a{
    text-decoration: none;
}
marquee{
    z-index: -20;
}
body{
    background-color: #f062911f;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 128px;
}

.header{
    width: 100vw;
    background-color: #2A3990;;
    color: white;
    padding: 16px;
    text-align: center;
}
.header>a{
    color: white;
}
.header >h1{
    font-weight: bold;
}
.fixed-header{
    position: fixed;
    top: 0;
}
.navbar{
    margin-bottom: 16px;
    padding-left: 5vw;
    padding-right: 5vw;
    width: 100vw;
    display: flex;
    gap: 8px;
    justify-content: space-around;
    background-color: #d95782;
}
.navbutton{
    color: white;
    border-bottom: 1px solid transparent;
}
.active-page{
    border-bottom: 1px solid white;
}
.open-close-status{
    font-size: 22px;
    font-weight: bold;
}
.open{
    color:green;
}
.closed{
    color: red;
}

.match-info{
    margin-top: 4vh;
    margin-left: 3vh;
    margin-right: 3vh;
    display: flex;
    align-items: center;
}

.teambox{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center
}
.watch-match{
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    text-align: center;
    padding: 4px 4px;
    background-color: #D23369;
    color:  white;
    cursor: pointer;
    transition: transform 0.2s ease-in-out ;
    border: none !important;
    border-radius: 0;
    font-size: 10px;
    width: fit-content;
}
.watch-match:hover{
    transform: scale(0.95);
    background-color: #0B5ED7;
}
.reveal-betters{
    margin-top: 16px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    text-align: center;
    padding: 8px 32px;
    background-color: #D23369;
    color:  white;
    cursor: pointer;
    transition: transform 0.2s ease-in-out ;
    border: none !important;
    border-radius: 0;
    font-size: 10px;
    width: fit-content;
}
.reveal-betters:hover{
    transform: scale(0.95);
    background-color: #0B5ED7;
}
.vs{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 32px;
}
.team-flag1{
    width: 32vh; 
    height: 24vh; 
    object-fit: cover; 
    object-position: 50% 50%;
    
}
.team-flag2{
    width: 32vh; 
    height: 24vh; 
    object-fit: cover; 
    object-position: 50% 50%;
    
}

.place-bet{
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    margin-top: 16px;
    text-align: center;
    padding: 8px 16px;
    background-color: #D23369;
    color:  white;
    cursor: pointer;
    transition: transform 0.2s ease-in-out ;
    border: none !important;
    border-radius: 0;
}

.place-bet:hover{
    transform: scale(0.95);
}

.final-bets{    
    text-align: center;
    margin-top: 16px;
    font-size: 22px;
    font-weight: bold;
}

.footer{
    color: rgba(128, 128, 128, 0.614);
    margin-top: 32px;
    margin-bottom: 8px;
    /* position: absolute; */
    bottom: 8px;
}

.bet-information{
    display: flex;
    flex-direction: column;
    padding: 16px 32px;
    gap: 24px;
}
#username{
    outline: none;
    border: 1px solid grey;;
}
#password{
    outline: none;
    border: 1px solid grey;
}
.bet-amounts{
    display: flex;
    gap: 8px;
    margin-top: 8px;
    cursor: pointer;
}
.bet-amount{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px 24px;
    border-radius: 5px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    background-color: teal;
    color: white;
}
.active{
    background-color:grey;
}
.submit-bet{
    font-size: 18px;
    border: none;
    outline: none;
    padding: 8px 16px;
    background-color: #2A3990;
    color: white;
    transition: transform 0.1s ease-in-out;
}
.submit-bet:hover{
    transform: scale(0.96);
}
.submit-bet:active{
    transform: scale(0.9);
}
.modal input{
    font-size: 18px;
}

table, th, td {
    border: 1px solid;
}
th,td{
    text-align: center;
}
.bet-not-visible{
    text-align: center;
    color: red;
    font-size: 14px;
}
.tables{
    /* display: flex; */
    margin-left: 8px;
    margin-right: 8px;
    gap: 16px;
}
.view-bet{
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    font-size: 12px;
}

#view-my-bet-button{
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    text-align: center;
    padding: 8px 16px;
    background-color: #D23369;
    color:  white;
    cursor: pointer;
    transition: transform 0.2s ease-in-out ;
    border: none !important;
    border-radius: 0;
    font-size: 16px;
}

#view-my-bet-button:active{
    background-color: #2A3990;
    transform: scale(0.97);
}
.view-bet-area{
    margin: 8px;
    margin-top: 16px;
    padding: 16px;
    border: 1px solid grey;
}
.view-bet-with-username{
    display: inline; 
    outline: none; 
    background-color: transparent; 
    border: 1px solid grey;
    font-size: 14px;
}
.view-bet-with-username:focus{
    background-color: rgba(255, 216, 222, 0.282);
    box-shadow: 0 1px 2px rgba(0,0,0,0.16), 0 1px 2px rgba(0,0,0,0.23);
}
.place-other-bet{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 12px;
}
.other-bet-credential{
    display: inline; 
    outline: none; 
    background-color: transparent; 
    border: 1px solid grey;
    font-size: 14px !important;
    padding: 4px;
}
.other-bet-credential:focus{
    /* background-color: rgba(0, 0, 0, 0.282); */
    box-shadow: 0 1px 2px rgba(0,0,0,0.16), 0 1px 2px rgba(0,0,0,0.23);
}
.result-area{
    display: flex;
    align-items: center;
    justify-content: center;

}
.view-bet-result{
    background-color: white;
    margin: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    padding: 8px;
    text-align: center;
    border: 1px solid black;
    height: fit-content;
    font-size: 12px;
}
.wrong-creds-for-view{
    color: red;
    font-size: 12px;
}
.bet-status-row{
    text-align: center;
    display: flex;
    flex-wrap: wrap;
}
.bet-status > p{
    width: 8vh;
    font-size: 10px;
    text-align: center;
    border: 1px solid black;
    padding: 2px;
}
.help-container{
    text-align: center;
}
.privacy-policy-container{
    margin-left: 8vh;
    margin-right: 8vh;
    display: flex;
    flex-direction: column;
    gap: 22px;
    font-size: 2vh;
}
.choose-fixture{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
}
.tournament-winner-selector-area{
    gap: 8px;
    display: flex;
    flex-direction: column;
    margin-left: 4vw;
    margin-right: 4vw;
}
.tournament-winner-selector{
    font-size: 14px;
}
.tournament-winner-amount-area{
    gap: 8px;
    display: flex;
    margin-left: 4vw;
    margin-right: 4vw;
}
.tournament-winner-amount{
    font-size: 14px;
}
.tournament-winner-submit{
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    margin-top: 8px;
    text-align: center;
    padding: 8px 16px;
    background-color: #D23369;
    color:  white;
    cursor: pointer;
    transition: transform 0.2s ease-in-out ;
    border: none !important;
}
.tournament-winner-submit:active{
    background-color: #2A3990;
    transform: scale(0.97);
}
.accordion-container{
    width: 90vw;
    margin-top: 16px;
}
.place-tournament-winner-toggle-modal{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    width: 60vw;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    text-align: center;
    padding: 8px 16px;
    /* background-color: #E7D27C; */
    background-color: #D23369;
    color:  white;
    cursor: pointer;
    transition: transform 0.2s ease-in-out ;
    border: none !important;
    border-radius: 0;
}
.place-other-bet-modal-body{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.accordion-body{
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.bet-place-area{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#myObj1, .count-up-amount{
    display: inline;
    font-size: 28px !important;
    font-weight: bold;
    color: green;
}
.count-up-amount{
    margin-bottom: 8px;
    /* background-color: a */
    padding: 8px;
    
}
.count-up-amount >h2 {
    font-family: 'Orbitron', sans-serif;
}
.totalpooltitle{
    margin-top: -12px;
}
.other-bet-team-table th, .other-bet-team-table td{
    font-size: 14px !important;
}
@media only all and (max-width: 900px){
    body{
        overflow-x: hidden !important;
        max-width: 100% !important;
    }
    .navbar{
        font-size: 13px;
    }
    .match-info{
        margin-left: 2vh;
        margin-right: 2vh;
    }
    .final-bets{
        font-size: 18px;
    }
    th,td{
        font-size: 10px;
    }
    .tables{
        margin-left: 0;
        margin-right: 0;
        gap: 8px;
    }
    .footer{
        font-size: 10px;
    }
    .bet-amount{
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 12px;
        padding: 4px 18px;
        border-radius: 5px;
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
        background-color: teal;
        color: white;
    }
    .active{
        background-color:grey;
    }
    .team-flag1{
        height: 16vh; 
        object-fit: cover; 
        object-position: 50% 50%;
        
    }
    .team-flag2{
        height: 16vh;
        object-fit: cover; 
        object-position: 50% 50%;
    }
    .place-bet{
        font-size: 12px;
    }
    #view-my-bet-button{
        font-size: 12px;
    }
    .view-bet-with-username{
        font-size: 10px;
    }
    .other-bet-credential{
        font-size: 14px !important;
    }
    .totalpooltitle{
        margin-top: -12px;
    }
    .other-bet-team-table th, .other-bet-team-table td{
        font-size: 12px !important;
    }
}