@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@600&display=swap');

/* CSS RESET */  
body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
    font-family: 'Space Grotesk', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
  
ol, ul {
    list-style: none;
}
  
img {
    max-width: 100%;
    height: auto;
}

a{
    text-decoration: none;
}

body{
    background-color: #f062911f;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header{
    margin: 16px;
    color: #2A3990;
}

.header >h1{
    font-weight: bold;
}
.open-close-status{
    font-size: 22px;
    font-weight: bold;
}
.open{
    color:green;
}
.closed{
    color: red;
}
.match-info{
    margin-top: 4vh;
    margin-left: 3vh;
    margin-right: 3vh;
    display: flex;
    align-items: center;
}

.teambox{
    
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center
}
.vs{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center
}
.team-flag{
    width: 32vh; 
    height: 16vh; 
    object-fit: cover; 
    object-position: 50% 50%;
    
}

.place-bet{
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    margin-top: 16px;
    text-align: center;
    padding: 8px 16px;
    background-color: #D23369;
    color:  white;
    cursor: pointer;
    transition: transform 0.2s ease-in-out ;
    border: none !important;
    border-radius: 0;
}

.place-bet:hover{
    transform: scale(1.05);
}

.view-bets{    
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    margin: 32px;
    margin-top: 48px;
    text-align: center;
    padding: 8px 32px;
    background-color: #D23369;
    /* border: 1px solid #650f2c; */
    color:  white;
    cursor: pointer;
    transition: transform 0.2s ease-in-out ;
}
.view-bets:hover{
    transform: scale(1.05);
}
.footer{
    position: absolute;
    bottom: 8px;
}

.bet-information{
    display: flex;
    flex-direction: column;
    padding: 16px 32px;
    gap: 24px;
}
#username{
    outline: none;
    border: 1px solid grey;;
}
#password{
    outline: none;
    border: 1px solid grey;
}
.bet-amounts{
    display: flex;
    gap: 8px;
    margin-top: 8px;
}
.bet-amount{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px 24px;
    border-radius: 5px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    background-color: teal;
    color: white;
}
.submit-bet{
    font-size: 18px;
    border: none;
    outline: none;
    padding: 8px 16px;
    background-color: #2A3990;
    color: white;
}
.modal input{
    font-size: 18px;
}